# Joining our Data Sets together
### Importing our R package

In [1]:
install.packages("remotes")
remotes::install_github("chenthih/nzmentalquake")

The downloaded binary packages are in
	/var/folders/fd/ly5mksl541v526fd48sjdfcm0000gn/T//RtmpVQRxzI/downloaded_packages

Downloading GitHub repo chenthih/nzmentalquake@HEAD

✔  checking for file ‘/private/var/folders/fd/ly5mksl541v526fd48sjdfcm0000gn/T/RtmpVQRxzI/remotes3a0a4fc4028e/chenthih-nzmentalquake-772bb11/DESCRIPTION’ (351ms)
─  preparing ‘nzmentalquake’:
✔  checking DESCRIPTION meta-information
─  checking for LF line-endings in source and make files and shell scripts
─  checking for empty or unneeded directories
─  building ‘nzmentalquake_0.0.0.9000.tar.gz’

In [2]:
head(nzmentalquake::earthquake_dataset)

  X city       year origintime          magnitude depth
1 1 Canterbury 2010 2010-12-26 11:10:49 4.00       5.0551
2 2 Canterbury 2010 2010-12-25 21:30:15 4.70       5.0293
3 3 Canterbury 2010 2010-12-25 13:32:09 4.56       6.6561
4 4 Canterbury 2010 2010-11-14 06:21:05 4.40      10.7049
5 5 Canterbury 2010 2010-11-13 12:34:06 4.40      10.3896
6 6 Canterbury 2010 2010-11-06 13:52:03 4.60       8.2620

In [3]:
head(nzmentalquake::earthquake_summary_dataset)

  X city       year number_of_eq average_mag max_mag
1 1 Auckland   2007 1            4.100000    4.100000
2 2 Auckland   2010 1            4.255000    4.255000
3 3 Auckland   2019 3            4.068303    4.148209
4 4 Canterbury 2005 5            4.302400    4.700000
5 5 Canterbury 2006 3            4.188000    4.464000
6 6 Canterbury 2007 8            4.368750    5.500000

In [4]:
head(nzmentalquake::mental_health_dataset)

  X City     Year Sex    Total
1 1 Auckland 2005 Female 15635
2 2 Auckland 2005 Male   17251
3 3 Auckland 2005 Total  32886
4 4 Auckland 2006 Female 16427
5 5 Auckland 2006 Male   18497
6 6 Auckland 2006 Total  34925

In [5]:
head(nzmentalquake::population_dataset)

  X City     Year Sex    Total
1 1 Auckland 2005 Female 15635
2 2 Auckland 2005 Male   17251
3 3 Auckland 2005 Total  32886
4 4 Auckland 2006 Female 16427
5 5 Auckland 2006 Male   18497
6 6 Auckland 2006 Total  34925